
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5eeee;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  input#datetime-picker {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    margin-bottom: 20px;
    outline: none;
  }
  
  input#datetime-picker:focus {
    border-color: #4d90fe;
    box-shadow: 0 0 5px rgba(77, 144, 254, 0.5);
  }
  
 
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  
  .timer {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
  }
  
  .field {
    text-align: center;
    font-size: 24px;
    color: #424141;
  }
  
  .value {
    font-size: 40px;
    font-weight: bold;
    display: block;
    color: #4CAF50;
  }
  
  .label {
    font-size: 14px;
    color: #888;
  }
  
 
  .iziToast {
    z-index: 999;
  }
  
  
  